<%- include("partial/header") %>
<link rel="stylesheet" type="text/css" href="/home.css">
<style>
	body{
	background: url(https://images.unsplash.com/photo-1516979187457-637abb4f9353?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	margin-top:4em;
}
html{
	height: 100%;
}
#content{
		font-family: 'Dancing Script', cursive;color: white;
	float: left;
	padding-top: 10%;
	text-shadow: 0px 4px 3px #fffffffc, 0px 8px 13px #1078e7, 0px 18px 23px #37d25a;
}

h1{
	font-weight: 700;
	font-size: 5em;
	color: black;

}
h2{
	color: black;
}
a{
	text-shadow:none;
}
hr{

	min-width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.5);
}
</style>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap" rel="stylesheet">
	<div class="container">
		<div class="row ">
			<div class="col-lg-12">
				<div id="content">
				<h1>Explore The World Of Techology</h1>
				<h2>Learn IT</h2>
				<hr>
				<a class="btn btn-success btn-lg" href="/blogs" role="button"><i class="fa fa-globe" aria-hidden="true"></i>
 Get Started!</a>
			</div>
			</div>
		</div>

</div>


<%- include("partial/footer")%>