<!DOCTYPE html>
<html>
	<head>
		<title>Learn IT</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">

		<link rel="stylesheet" type="text/css" href="/app.css">
		<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="/__/firebase/7.17.1/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="/__/firebase/7.17.1/firebase-analytics.js"></script>

<!-- Initialize Firebase -->
<script src="/__/firebase/init.js"></script>
		
	</head>
	
	
	<body>
				
		<nav class="navbar navbar-expand-lg fixed-top navbar-dark" style="background-color: #007bffb3;">
		<div class="container">
		  <a class="navbar-brand" href="/">
			  <i class="fa fa-th-large" aria-hidden="true"></i>
			  Learn IT</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
			  <li class="nav-item active">
				<a class="nav-link" href="/blogs">All Courses <span class="sr-only">(current)</span></a>
			  </li>
			  <li class="nav-item active">
			    <a class="nav-link" href="/blog/new">New</a>
      		  </li>
			  <li class="nav-item active">
			    <a class="nav-link" href="/blog/about">About</a>
      		  </li>
			</ul>
			  <ul class="navbar-nav ml-auto">
			  <li class="nav-item active">
				<a class="nav-link" href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i><span class="sr-only">(current)</span></a>
			  </li>
			  <li class="nav-item active">
			    <a class="nav-link" href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      		  </li>
			</ul>
		  </div>
    	</div>
	</nav>
	
		
